        .SWC,
        .ULC {
            font-size: 1rem;
            text-align: center;
        }

        .container-fluid {
            background-color: gray;

        }






        @media screen and (max-width: 767px) {
            .btn {
                font-size: 30px;
            }

            table {
                font-size: 20px;
            }

        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
            .btn {
                font-size: 30px;
            }

            .table {
                font-size: 15px;
            }

            /* .table input[type="checkbox"] {
                -ms-transform: scale(2);
                -moz-transform: scale(2);
                -webkit-transform: scale(2);
                -o-transform: scale(2);
                transform: scale(2);

            } */


        }

        @media screen and (min-width: 992px) {
            /* Büyük Ekranlar için CSS kodları */
        }